@font-face {
    font-family: 'weather';
    src: url('../fonts/weather.eot?pjl8aa');
    src: url('../fonts/weather.eot?pjl8aa#iefix') format('embedded-opentype'), url('../fonts/weather.ttf?pjl8aa') format('truetype'), url('../fonts/weather.woff?pjl8aa') format('woff'), url('../fonts/weather.svg?pjl8aa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'weather' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
    content: "\e900";
}

.icon-hour:before {
    content: "\e901";
}

.icon-0:before {
    content: "\e902";
}

.icon-1:before {
    content: "\e903";
}

.icon-2:before {
    content: "\e904";
}

.icon-3:before {
    content: "\e905";
}

.icon-4:before {
    content: "\e906";
}

.icon-5:before {
    content: "\e907";
}

.icon-6:before {
    content: "\e908";
}

.icon-7:before {
    content: "\e909";
}

.icon-8:before {
    content: "\e90a";
}

.icon-9:before {
    content: "\e90b";
}

.icon-10:before {
    content: "\e90c";
}

.icon-11:before {
    content: "\e90d";
}

.icon-12:before {
    content: "\e90e";
}

.icon-13:before {
    content: "\e90f";
}

.icon-14:before {
    content: "\e910";
}

.icon-15:before {
    content: "\e911";
}

.icon-16:before {
    content: "\e912";
}

.icon-17:before {
    content: "\e913";
}

.icon-18:before {
    content: "\e914";
}

.icon-19:before {
    content: "\e915";
}

.icon-20:before {
    content: "\e916";
}

.icon-21:before {
    content: "\e917";
}

.icon-22:before {
    content: "\e918";
}

.icon-23:before {
    content: "\e919";
}

.icon-24:before {
    content: "\e91a";
}

.icon-25:before {
    content: "\e91b";
}

.icon-26:before {
    content: "\e91c";
}

.icon-27:before {
    content: "\e91d";
}

.icon-28:before {
    content: "\e91e";
}

.icon-29:before {
    content: "\e91f";
}

.icon-30:before {
    content: "\e920";
}

.icon-31:before {
    content: "\e921";
}

.icon-32:before {
    content: "\e922";
}

.icon-33:before {
    content: "\e923";
}

.icon-34:before {
    content: "\e924";
}

.icon-35:before {
    content: "\e925";
}

.icon-36:before {
    content: "\e926";
}

.icon-37:before {
    content: "\e927";
}

.icon-38:before {
    content: "\e928";
}

.icon-39:before {
    content: "\e929";
}

.icon-40:before {
    content: "\e92a";
}

.icon-41:before {
    content: "\e92b";
}

.icon-42:before {
    content: "\e92c";
}

.icon-43:before {
    content: "\e92d";
}

.icon-44:before {
    content: "\e92e";
}

.icon-45:before {
    content: "\e92f";
}

.icon-46:before {
    content: "\e930";
}

.icon-47:before {
    content: "\e931";
}

.icon-3200:before {
    content: "\e932";
}


/*
@font-face {
    font-family: 'weather';
    src: url('../fonts/weather_icons-webfont.eot');
    src: url('../fonts/weather_icons-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/weather_icons-webfont.woff') format('woff'), url('../fonts/weather_icons-webfont.ttf') format('truetype'), url('../fonts/weather_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/


/*
i {
    color: #fff;
    font-family: weather;
    font-size: 72px;
    font-weight: normal;
    font-style: normal;
    text-transform: full-width;
}

.icon-0:before {
    content: ":";
}

.icon-1:before {
    content: "p";
}

.icon-2:before {
    content: "S";
}

.icon-3:before {
    content: "Q";
}

.icon-4:before {
    content: "S";
}

.icon-5:before {
    content: "W";
}

.icon-6:before {
    content: "W";
}

.icon-7:before {
    content: "W";
}

.icon-8:before {
    content: "W";
}

.icon-9:before {
    content: "I";
}

.icon-10:before {
    content: "W";
}

.icon-11:before {
    content: "I";
}

.icon-12:before {
    content: "I";
}

.icon-13:before {
    content: "I";
}

.icon-14:before {
    content: "I";
}

.icon-15:before {
    content: "W";
}

.icon-16:before {
    content: "I";
}

.icon-17:before {
    content: "W";
}

.icon-18:before {
    content: "U";
}

.icon-19:before {
    content: "Z";
}

.icon-20:before {
    content: "Z";
}

.icon-21:before {
    content: "Z";
}

.icon-22:before {
    content: "Z";
}

.icon-23:before {
    content: "Z";
}

.icon-24:before {
    content: "E";
}

.icon-25:before {
    content: "E";
}

.icon-26:before {
    content: "3";
}

.icon-27:before {
    content: "a";
}

.icon-28:before {
    content: "A";
}

.icon-29:before {
    content: "a";
}

.icon-30:before {
    content: "A";
}

.icon-31:before {
    content: "6";
}

.icon-32:before {
    content: "1";
}

.icon-33:before {
    content: "6";
}

.icon-34:before {
    content: "1";
}

.icon-35:before {
    content: "W";
}

.icon-36:before {
    content: "1";
}

.icon-37:before {
    content: "S";
}

.icon-38:before {
    content: "S";
}

.icon-39:before {
    content: "S";
}

.icon-40:before {
    content: "M";
}

.icon-41:before {
    content: "W";
}

.icon-42:before {
    content: "I";
}

.icon-43:before {
    content: "W";
}

.icon-44:before {
    content: "a";
}

.icon-45:before {
    content: "S";
}

.icon-46:before {
    content: "U";
}

.icon-47:before {
    content: "S";
}*/
